<a href="https://colab.research.google.com/github/shiv2022/elida_beauty_testing/blob/elida_beauty_testing/AiBA_New_transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [255]:
import numpy as np
import pandas as pd
import json
import warnings
warnings.filterwarnings("ignore")

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.expand_frame_repr', False)

In [256]:
# Loading the csv file 
df1 = pd.read_csv('/content/elida_beauty_testing/elida_data.csv')
df1.columns

Index(['How thick is your hair?', 'What is your hair type?', 'When it comes to your hair, you care the most about:', 'What do you use to style your hair? ', 'P1', 'P2', 'P3', 'P4'], dtype='object')

In [257]:
df1.count()

How thick is your hair?                                 1789
What is your hair type?                                 1789
When it comes to your hair, you care the most about:    1789
What do you use to style your hair?                     1789
P1                                                      1789
P2                                                      1781
P3                                                      1756
P4                                                      1290
dtype: int64

In [258]:
df1.head()

  How thick is your hair? What is your hair type? When it comes to your hair, you care the most about: What do you use to style your hair?                                    P1                                        P2                                        P3                              P4
0    Fine, Medium, Thick           Straight/ Wavy                                          Hydration                             Hair dryer  VO5 Hairdryer Protection Mist 200ml             Vo5 Serum Invisible Pump 50ml                                       NaN                             NaN
1    Fine, Medium, Thick           Straight/ Wavy                                             Volume                             Hair dryer  VO5 Hairdryer Protection Mist 200ml   Vo5 Heat Protect Lot Spr Blow Dry 200ml          Vo5 Gel Spray Volume Boost 200ml                             NaN
2    Fine, Medium, Thick           Straight/ Wavy                                         Smoothness                             Hair dryer  VO5 Hairdryer Protection Mist 200ml             Vo5 Serum Invisible Pump 50ml  V05 Taming Spray Heat Defence Aero 100ml  Vo5 Cream Frizzfree Tube 125ml
3    Fine, Medium, Thick           Straight/ Wavy                                             Shine                              Hair dryer  VO5 Hairdryer Protection Mist 200ml  V05 Taming Spray Heat Defence Aero 100ml                                       NaN                             NaN
4    Fine, Medium, Thick           Straight/ Wavy                                    Curl Definition                             Hair dryer  VO5 Hairdryer Protection Mist 200ml            Vo5 Cream Frizzfree Tube 125ml            Vo5 Mousse Curl Defining 200ml                             NaN

In [259]:
cols = df1.columns
df1.rename (columns = {cols[0]:'Q1',cols[1]:'Q2',cols[2]:'Q3',cols[3]:'Q4'}, inplace=True)

df1.columns

Index(['Q1', 'Q2', 'Q3', 'Q4', 'P1', 'P2', 'P3', 'P4'], dtype='object')

In [260]:
# Splitting the values present in the column into multiple values based on the separator	
df1 = df1.assign(Q2=df1.Q2.str.split("/ ")).explode('Q2')
df1 = df1.assign(Q3=df1.Q3.str.split(",")).explode('Q3')
df1 = df1.assign(Q4=df1.Q4.str.split("/ ")).explode('Q4')

In [261]:
len(df1)

12870

In [262]:
# Removing the leading and trailing spaces from columns

col_list = ['Q1','Q2','Q3','Q4']
for col in df1.columns:
  df1[col] = df1[col].str.strip()

In [263]:
df1.head()

                    Q1        Q2          Q3          Q4                                   P1                                       P2                                        P3                              P4
0  Fine, Medium, Thick  Straight   Hydration  Hair dryer  VO5 Hairdryer Protection Mist 200ml            Vo5 Serum Invisible Pump 50ml                                       NaN                             NaN
0  Fine, Medium, Thick      Wavy   Hydration  Hair dryer  VO5 Hairdryer Protection Mist 200ml            Vo5 Serum Invisible Pump 50ml                                       NaN                             NaN
1  Fine, Medium, Thick  Straight      Volume  Hair dryer  VO5 Hairdryer Protection Mist 200ml  Vo5 Heat Protect Lot Spr Blow Dry 200ml          Vo5 Gel Spray Volume Boost 200ml                             NaN
1  Fine, Medium, Thick      Wavy      Volume  Hair dryer  VO5 Hairdryer Protection Mist 200ml  Vo5 Heat Protect Lot Spr Blow Dry 200ml          Vo5 Gel Spray Volume Boost 200ml                             NaN
2  Fine, Medium, Thick  Straight  Smoothness  Hair dryer  VO5 Hairdryer Protection Mist 200ml            Vo5 Serum Invisible Pump 50ml  V05 Taming Spray Heat Defence Aero 100ml  Vo5 Cream Frizzfree Tube 125ml

In [264]:
df2 = df1.copy()

In [265]:
# Working with pim_df sheet

pim_df = pd.read_csv('/content/elida_beauty_testing/Updated_Pim_sheet.csv')
pim_df.columns

Index(['identifierValue', 'category', 'productName', 'productDescription', 'lastModifiedTime', 'productTags', 'binidentifier', 'pdpUrl', 'imageUrl'], dtype='object')

In [266]:
# Working with pim_df sheet

pim_df = pd.read_csv('/content/elida_beauty_testing/Updated_Pim_sheet.csv')
pim_df.columns

Index(['identifierValue', 'category', 'productName', 'productDescription', 'lastModifiedTime', 'productTags', 'binidentifier', 'pdpUrl', 'imageUrl'], dtype='object')

In [267]:
pim_df = pim_df.dropna(how='all', axis=1)
pim_df.columns

Index(['identifierValue', 'category', 'productName', 'productDescription', 'pdpUrl', 'imageUrl'], dtype='object')

In [268]:
pim_df1 = pim_df.copy()
# pim_df1.columns
pim_df1['identifierValue'] = pim_df1['identifierValue'].str.strip('GTIN:')

# Stripping any unwanted space before and after the values in the columns
for col in pim_df1.columns:
  pim_df1[col] = pim_df1[col].str.strip()

In [ ]:
pim_df1.columns

Index(['identifierValue', 'category', 'productName', 'productDescription', 'pdpUrl', 'imageUrl'], dtype='object')

In [269]:
# Adding additional columns to pim_df1

pim_df1.rename(columns={'pdpUrl': 'pageUrl'},inplace=True)
pim_df1[['shortDescription','variants','range','score','smartProductId','routineName']]=''
pim_df1['imageAltText'] = pim_df1['productName'].copy()
pim_df1['brandName']='elida'
pim_df1.columns
# pim_df1.head()

Index(['identifierValue', 'category', 'productName', 'productDescription', 'pageUrl', 'imageUrl', 'shortDescription', 'variants', 'range', 'score', 'smartProductId', 'routineName', 'imageAltText', 'brandName'], dtype='object')

In [270]:
pim_df1.head()

  identifierValue category                              productName                                 productDescription                                            pageUrl                     imageUrl shortDescription variants range score smartProductId routineName                             imageAltText brandName
0  00000050398645      wax           Vo5 Wax Rework Putty Jar 150ml  Rework Putty offers all day reworkable hold an...  https://www.vo5.co.uk/products/men/rework-hold...  https://postimg.cc/3WJhKFFY                                                                            Vo5 Wax Rework Putty Jar 150ml     elida
1  08710908578656    paste               VO5 Matt Rework Paste 75ml  Matt Rework Paste combines a matt finish with ...  https://www.vo5.co.uk/products/men/rework-hold...  https://postimg.cc/hzzkN2q0                                                                                VO5 Matt Rework Paste 75ml     elida
2  00000050398621      wax                 Vo5 Wax Styling Jar 75ml  Styling Wax Creates a long lasting firm hold w...  https://www.vo5.co.uk/products/men/rework-hold...  https://postimg.cc/k283j1qF                                                                                  Vo5 Wax Styling Jar 75ml     elida
3  00000050398676      gum             Vo5 Gum Texturising Tin 75ml  Texturising Gum shapes hair and is great for s...  https://www.vo5.co.uk/products/men/extra-hold/...  https://postimg.cc/N5FDp3sZ                                                                              Vo5 Gum Texturising Tin 75ml     elida
4  05012254066409    paste  Vo5 Paste Extreme Style Matt Pump 100ml  Use Matt Styling Paste to shape hair with rewo...  https://www.vo5.co.uk/products/men/extra-hold/...  https://postimg.cc/PPh7MXNy                                                                   Vo5 Paste Extreme Style Matt Pump 100ml     elida

In [272]:


# use to_dict() to convert dataframe to dictionary
pim_df1_dict = pim_df1.to_dict()

# create a new dictionary with desired structure
result = {productName: [{'routineName': pim_df1_dict['routineName'][i],
						'category': pim_df1_dict['category'][i],
						'shortDescription':pim_df1_dict['shortDescription'][i],
						'pageUrl': pim_df1_dict['pageUrl'][i],
						'productName': pim_df1_dict['productName'][i],
						'variants':pim_df1['variants'][i], 
						'range':pim_df1['range'][i],
						'score':pim_df1['score'][i], 
						'brandName':pim_df1['brandName'][i],
						'imageUrl': pim_df1_dict['imageUrl'][i],
						'smartProductId':pim_df1['smartProductId'][i], 
						'identifierValue': pim_df1_dict['identifierValue'][i],
						'imageAltText':pim_df1['imageAltText'][i], 
						'productDescription': pim_df1_dict['productDescription'][i]}]
            for i, productName in enumerate(pim_df1_dict['productName'].values())}

In [ ]:
# To check the output of the dictionary

result

In [274]:
# replacing NaN with default
df2_new = df1.copy()

df2_new = df2_new.fillna('default')

In [275]:
df2_new.head()

                    Q1        Q2          Q3          Q4                                   P1                                       P2                                        P3                              P4
0  Fine, Medium, Thick  Straight   Hydration  Hair dryer  VO5 Hairdryer Protection Mist 200ml            Vo5 Serum Invisible Pump 50ml                                   default                         default
0  Fine, Medium, Thick      Wavy   Hydration  Hair dryer  VO5 Hairdryer Protection Mist 200ml            Vo5 Serum Invisible Pump 50ml                                   default                         default
1  Fine, Medium, Thick  Straight      Volume  Hair dryer  VO5 Hairdryer Protection Mist 200ml  Vo5 Heat Protect Lot Spr Blow Dry 200ml          Vo5 Gel Spray Volume Boost 200ml                         default
1  Fine, Medium, Thick      Wavy      Volume  Hair dryer  VO5 Hairdryer Protection Mist 200ml  Vo5 Heat Protect Lot Spr Blow Dry 200ml          Vo5 Gel Spray Volume Boost 200ml                         default
2  Fine, Medium, Thick  Straight  Smoothness  Hair dryer  VO5 Hairdryer Protection Mist 200ml            Vo5 Serum Invisible Pump 50ml  V05 Taming Spray Heat Defence Aero 100ml  Vo5 Cream Frizzfree Tube 125ml

In [276]:
# df2_new['IdentifierValue'] = df2_new['P1'].apply(lambda x: [pim_df2.get(item) for item in x])
df2_new['P1'] = df2_new['P1'].apply(lambda x: result.get(x))
df2_new['P2'] = df2_new['P2'].apply(lambda x: result.get(x))
df2_new['P3'] = df2_new['P3'].apply(lambda x: result.get(x))
df2_new['P4'] = df2_new['P4'].apply(lambda x: result.get(x))

In [277]:
len(df2_new)

12870

In [278]:
df2_new.columns

Index(['Q1', 'Q2', 'Q3', 'Q4', 'P1', 'P2', 'P3', 'P4'], dtype='object')

In [296]:
df2_new.to_csv('final_output_file.csv')

In [280]:
df2_new.head()

                    Q1        Q2          Q3          Q4                                                 P1                                                 P2                                                 P3                                                 P4
0  Fine, Medium, Thick  Straight   Hydration  Hair dryer  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'serum', 'sho...                                               None                                               None
0  Fine, Medium, Thick      Wavy   Hydration  Hair dryer  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'serum', 'sho...                                               None                                               None
1  Fine, Medium, Thick  Straight      Volume  Hair dryer  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'spray', 'sho...  [{'routineName': '', 'category': 'gel', 'short...                                               None
1  Fine, Medium, Thick      Wavy      Volume  Hair dryer  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'spray', 'sho...  [{'routineName': '', 'category': 'gel', 'short...                                               None
2  Fine, Medium, Thick  Straight  Smoothness  Hair dryer  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'serum', 'sho...  [{'routineName': '', 'category': 'spray', 'sho...  [{'routineName': '', 'category': 'cream', 'sho...

## Creating a composite key to create individual json files

1.   First add P1 column in df3
2.   Join P1 column in df3 with the dictionary created from pim_df to get the identifier value
3. Load the json file and explode all the columns
4. create another dictionary from this json_df
5. join with the column Q1,Q2,Q3 and Q4 and generate the response id
6. generate the composite key by joining r1_r2_r3_r4_identifierValue

Step 1 and 2 - As mentioned above

In [306]:

df3 = df2_new.copy()
df3['IdentifierValue'] = df1['P1'].copy()
# df3.head()

pim_df2 = pim_df1[['identifierValue','productName']].copy()
pim_df2 = pd.Series(pim_df2.identifierValue.values, index=pim_df2.productName).to_dict()
# pim_df2

df3['IdentifierValue'] = df3['IdentifierValue'].apply(lambda x: pim_df2.get(x))

# Here now we have to explode Q1 column
# Splitting the values present in the column into multiple rows based on the separator	
df3 = df3.assign(Q1=df1.Q1.str.split(", ")).explode('Q1')
col_list = ['Q1','Q2','Q3','Q4']
for col in col_list:
  df3[col] = df3[col].str.lower()
len(df3)

38610

In [307]:
df3.head()

       Q1        Q2         Q3          Q4                                                 P1                                                 P2    P3    P4 IdentifierValue
0    fine  straight  hydration  hair dryer  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'serum', 'sho...  None  None  08710908852053
0  medium  straight  hydration  hair dryer  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'serum', 'sho...  None  None  08710908852053
0   thick  straight  hydration  hair dryer  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'serum', 'sho...  None  None  08710908852053
0    fine      wavy  hydration  hair dryer  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'serum', 'sho...  None  None  08710908852053
0  medium      wavy  hydration  hair dryer  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'serum', 'sho...  None  None  08710908852053

Step 3 : Load the json file and explode all the columns
4. create another dictionary from this json_df
5. join with the column Q2,Q3 and Q4 and generate the response id
6. generate the composite key by joining r1_r2_r3_r4_identifierValue

In [283]:
# Loading the json file and creating a dataframe

import json
# load data using Python JSON module
with open('/content/elida_beauty_testing/question_response.json','r') as f:
    data = json.loads(f.read())
# Flatten data

json_df = pd.json_normalize(data, record_path =['Q&A','responses'],meta=[['Q&A','questionId'],['Q&A','questionText'],['Q&A','questionDescription'],['Q&A','multiSelect']])

In [219]:
json_df.head()

  answerInEnglish                                          seedWords mustKeys mustNotKeys responseDescription responseID responseText Q&A.questionId         Q&A.questionText  Q&A.questionDescription Q&A.multiSelect
0            Fine  [fine, thick, volume, smooth, glossy, soft, sh...  [tyety]          []                Fine       1111         Fine           3031  How thick is your hair?  How thick is your hair?           False
1          Medium  [thick, volume, strength, smooth, glossy, soft...  [tyety]          []              Medium       1112       Medium           3031  How thick is your hair?  How thick is your hair?           False
2        Straight  [straight, sleek, shiny, smooth, glossy, soft,...  [tyety]          []            Straight       2221     Straight           3032  What is your hair type?  What is your hair type?           False
3            Wavy  [wavy, curly, smooth, glossy, soft, shiny, hyd...  [tyety]          []                Wavy       2222         Wavy           3032  What is your hair type?  What is your hair type?           False
4           Curly  [curl, curly, dry, messy, defined, coily, smoo...  [tyety]          []               Curly       2223        Curly           3032  What is your hair type?  What is your hair type?           False

In [308]:
json_df1 = json_df[['responseText','responseID']].copy()

col_list = ['responseText','responseID']
for col in col_list:
  json_df1[col] = json_df1[col].str.lower()

# Removing the leading and trailing spaces from Q1 column

json_df1['responseText'] = json_df1['responseText'].str.strip()
print(json_df1['responseText'].unique())

# Converting json_df1 into dictionary

json_df1_dict = pd.Series(json_df1.responseID.values, index=json_df1.responseText).to_dict()
json_df1_dict

['fine' 'medium' 'straight' 'wavy' 'curly' 'coily' 'hair dryer' 'curler'
 'straightener' 'air drying' 'hydration' 'volume' 'smoothness' 'shine'
 'clean & refresh' 'curl definition' 'strength' 'preventing frizz'
 'repair' 'colour protection']

{'fine': '1111',
 'medium': '1112',
 'straight': '2221',
 'wavy': '2222',
 'curly': '2223',
 'coily': '2224',
 'hair dryer': '3331',
 'curler': '3332',
 'straightener': '3333',
 'air drying': '3334',
 'hydration': '4441',
 'volume': '4442',
 'smoothness': '4443',
 'shine': '4444',
 'clean & refresh': '4445',
 'curl definition': '4446',
 'strength': '4447',
 'preventing frizz': '4448',
 'repair': '4449',
 'colour protection': '44450'}

In [318]:
# Replacing the values with the referance code

df3.replace(to_replace={'straightner':'straightener'},value=None, inplace=True)
df3.replace(to_replace={'meduim hold':'medium hold'},value=None, inplace=True)
col_list=['Q1','Q2','Q3','Q4','IdentifierValue']
dummy_val_dict = {'thick':'99990','light hold':'99991',
                  'medium hold':'99992', 'strong hold': '99993', 'texture': '99994'}
for col in col_list:
  df3.replace(to_replace={col:json_df1_dict},value=None,inplace=True)
  df3.replace(to_replace={col:dummy_val_dict},value=None,inplace=True)
  print(df3[col].unique())
  


df3=df3.loc[:,['Q1','Q2', 'Q3', 'Q4','IdentifierValue','P1','P2', 'P3',  'P4' ]]

['1111' '1112' 99990]
['2221' '2222' '2223' '2224']
['4441' '4442' '4443' '4444' '4446' '4447' '4448' '4449' '44450' 99991
 99992 99993 99994]
['3331' '3333' '3332' '3334']
['08710908852053' '00000050398850' '05012254064351' '08717163784365'
 '00000050297825' '05012254058541' '08717163784358' '08710908779145'
 '00000050297092' '00000050398645' '05012254066409' '08710447330296']

In [320]:
df3.head()

      Q1    Q2    Q3    Q4 IdentifierValue                                                 P1                                                 P2    P3    P4
0   1111  2221  4441  3331  08710908852053  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'serum', 'sho...  None  None
0   1112  2221  4441  3331  08710908852053  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'serum', 'sho...  None  None
0  99990  2221  4441  3331  08710908852053  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'serum', 'sho...  None  None
0   1111  2222  4441  3331  08710908852053  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'serum', 'sho...  None  None
0   1112  2222  4441  3331  08710908852053  [{'routineName': '', 'category': 'mist', 'shor...  [{'routineName': '', 'category': 'serum', 'sho...  None  None

In [321]:
# Dropping unwanted columns from the dataframe

df4 = df3.copy()
df4.head()
col_list = ['Q1','Q2','Q3','Q4','IdentifierValue']
df4.drop(col_list, axis=1, inplace=True)
len(df4)

38610

In [ ]:
# # Creating a composite key to save the individual json files

# composite_key = df3[['Q1','Q2','Q3','Q4','IdentifierValue']].apply(lambda x: '_'.join(x.astype(str)), axis=1)

# # for i in composite_key:
# #   print(i)


# # iterate through each row of the dataframe
# for index, row in df4.iterrows():
#     # convert the row to a dictionary
#     data = row.to_dict()
#     # write the dictionary to a json file using composite_key
#     for key in composite_key:
#       with open(f'{key}.json', 'w') as f:
#         json.dump(data, f, indent=4)

In [ ]:
# Creating a composite key to save the individual json files
composite_key = df3[['Q1','Q2','Q3','Q4','IdentifierValue']].apply(lambda x: '_'.join(x.astype(str)), axis=1)

# Converting the df to json string
for index, row in df4.iterrows():
  json_string = row.to_json(orient='records')
  # using the json module to create a nested structure
  json_data = json.loads(json_string)
  # writing the nested json to a file
  for key in composite_key:
    output = {'recommendations': json_data}
    with open(f'{key}.json', 'w') as outfile:
      json.dump(output,outfile, indent=4)

In [319]:
!rm -rf *.json
json_string = row.replace({pd.np.nan: None}).to_json(indent=None)

In [ ]:
# rows_list = df1.columns[:4]
pim_df2 = pim_df1[['identifierValue','productName']].copy()
pim_df2 = pd.Series(pim_df2.identifierValue.values, index=pim_df2.productName).to_dict()
pim_df2

df2 = df2.fillna('default')
response_rows_list = []

for index, row in df2[df2.columns[:4]].iterrows():
    response_rows_list.append(list(row))

In [ ]:
# writing the nested json to a file

with open("output.json",'w') as outfile:
  json.dump(output,outfile, indent=4)